.report_header {
  margin: auto;
  width: 25%;
  height: 10%;
  padding: 2%;
}

.report_header  img {
  float: left;
  width: 25%;
  height: 100%;
  padding: 3%;
}

.report_header  h1 {
  position: relative;
  width: auto;
  height: 100%;
  color: #fff;
  font-size: 3vh;
  font-family: "Roboto Condensed", "Helvetica", "Arial", sans-serif;
}

.reports_list {
  margin: auto;
  width: auto;
  height: auto;
}

.html_report {
   cursor:default;
   display:inline-block;
   position:relative;
   border: 2px solid #13507D;
   padding:3px;
   border-radius:5px;
   font-size: 15px;
   font-weight: bold;
   transition: font-size .3s;
   margin: 2px auto;
}

.pagination {
  display: inline-block;
  text-align: center;
}

.pagination li {
  color: transparent;
  float: left;
}

.pagination li a{
  color: #fff;
  font-size: 14px;
  font-family: "Courier New", serif, arial;
  text-decoration: none;
  float: left;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color .3s;
  transition: font-size .3s;
  margin: 1px 2px;
}

.pagination li:not(.disabled) a{
  border: 2px solid #44A89E;
}

.pagination li.active a{
  background-color: #2F9BD6;
  border-radius: 50%;
  border: none;
}

.pagination li:hover:not(.active):not(.disabled) a{
    background-color: #44A89E;
    font-size: 12px;
}