<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>Nunet Demo System Test Report</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='logos/Nunet_full_color_transparent.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body bgcolor="#0A2042">
        <div class="report_header">
            <img src="{{ url_for('static', filename='logos/Nunet_full_color_transparent.png') }}" />
            <h1>
                <span style="padding: 10%">Nunet Demo</span> <br>
                <span>System Test Report</span>
            </h1>
        </div>

        <div class="report_container" style="text-align: center">
            <div class="reports_list">
                <ul>
                    <!--    check if html_report_dir_list is empty before preceding-->
                    {%- for item in html_report_dir_list recursive %}
                    <span class="html_report">
                        <a style="color: #fff; text-decoration: none;" href="/allure_reports/{{ item }}/index.html">
                            {{ item }}
                        </a>
                    </span> <br>
                    {%- endfor %}
                </ul>
            </div>
            <div class="page_info" style="margin: auto; color: White; font-style: italic; font-size: 85%;" >
                {{ pagination.info }}
            </div>
            <div class="page_links" style="align: center; color: White; font-weight: bold;" >
                {{ pagination.links }}
            </div>
        </div>
    </body>
</html>
